:root {
  --red: #DF3749;
  --gray: #494848;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: var(--gray);
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: var(--gray);
  font-size: 42px;
  font-family: 'Besley' , serif;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: var(--gray);
  font-weight: bolder;
  padding: 30px;
}

.border-bottom-right {
  border-right: 15px solid var(--red);
  border-bottom: 15px solid var(--red);
}

.border-bottom {
  border-bottom: 15px solid var(--red);
}

.border-right {
  border-right: 15px solid var(--red);
}

.score-board {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  margin-top: 5px;
}

.score-board div {
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  background-color: var(--gray);
}

.score-board div:first-child {
  background-color: #CD493A;
}

.score-board{
  margin: 10px;
}

.X{
  color: var(--red)
}

.O{
  color: var(--gray)
}
.size{
  background-color: white;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}